section.about#about
    .container 
       .about__items
            .experience
                .heading Опыт работы
                h2.about__title
                .about__card
                    p.about__date Июль 2019
                    h3.about__post.about__post--freelance Freelance Designer
                    .about__location Independent Netherlands, Worldwide
                    p.about__text Available for a project or job in UX/UI, Visual and Product design.
                    a.about__link(href="#") Commercial tryouts
                    a.about__link(href="#") Personal projects
                .about__card
                    p.about__date Январь 2017 - Сентябрь 2018
                    h3.about__post.about__post--digital Digital Designer
                    .about__location
                        .about__logo
                            +lazyPicture({
                            src: `${baseDir}images/creative.jpg`,
                            alt: 'logo',
                            })
                        span
                            |J Creative Solutions &nbsp;
                        |Digital agency in Minsk, Belarus
                    p.about__text Created visuals for digital marketing channels such as social media, promo web and online ads. Developed visual language from scratch or following the branding guidelines. Designed presentations
                        |for clients and indoor purposes.
                    a.about__link(href="#") Agency projects
                .about__card
                    p.about__date Март 2014 - Февраль 2017
                    h3.about__post.about__post--seo SEO Specialist → Lead SEO Specialist
                    .about__location
                        .about__logo
                            +lazyPicture({
                            src: `${baseDir}images/oz.svg`,
                            alt: 'logo',
                            })
                        span OZ.by &nbsp;
                        | Online bookstore in Minsk, Belarus
                    p.about__text Improved website performance and user experience of the biggest online bookstore OZ in Belarus, being a part of the marketing team,
                        |I interpreted Google Analytics data to IT, content and marketing colleagues. Advised on tech and content optimization strategy, automated processes, provided reports, increased organic traffic up to 150%.
                    a.about__link(href="#") Annual company report 2016
                .about__card
                    p.about__date Август 2012 - Ноябрь 2013
                    h3.about__post.about__post--content Content Specialist
                    .about__location
                        .about__logo
                            +lazyPicture({
                                src: `${baseDir}images/21.svg`,
                                alt: 'logo',
                                })
                        span 21vek.by &nbsp;
                        | E-commerce store in Minsk, Belarus
                    p.about__text Added and modified the product information, prepared images and text for the website, developed categories filters, ensure all info is correct in the catalogue with the goal of improving online shopper experience.
                .about__card
                    p.about__date Август 2011 - Ноябрь 2014
                    h3.about__post.about__post--support Software Support Engineer
                    .about__location
                        .about__logo
                            +lazyPicture({
                                src: `${baseDir}images/integral.svg`,
                                alt: 'pers',
                                })
                        span Integral &nbsp;
                        |Microelectronics factory in Minsk, Belarus
                    p.about__text Supported retail accounting system LS Trade, troubleshoot technical problems.
            +lazyPicture({
                src: `${baseDir}images/pers.jpg`,
                alt: 'pers',
                }).pers
            .education
                .heading Образование
                .about__cards
                    .about__card 
                        +lazyPicture({
                                src: `${baseDir}images/sprites/svg/Design.svg`,
                                alt: 'logo',
                                }).about__img
                        h3.about__post Interface Design: Web  Mobile
                        p.about__location IT-Academy, 2020
                    .about__card 
                        +lazyPicture({
                                src: `${baseDir}images/sprites/svg/Usability.svg`,
                                alt: 'logo',
                                }).about__img
                        h3.about__post Fundamentals of Usability
                        .about__location Skillshare, Oct 2018
                    .about__card 
                        +lazyPicture({
                                src: `${baseDir}images/sprites/svg/cg.svg`,
                                alt: 'logo',
                                }).about__img
                        h3.about__post CG Artist
                        p.about__location Polygon CG School, May-Sep 2017
                    .about__card 
                        +lazyPicture({
                                src: `${baseDir}images/sprites/svg/graphic.svg`,
                                alt: 'logo',
                                }).about__img
                        h3.about__post Graphic Design
                        .about__location Belarusian State Academy of Arts, 2015 - 2017 Postgraduate Diploma
                    .about__card 
                        +lazyPicture({
                                src: `${baseDir}images/sprites/svg/seo.svg`,
                                alt: 'logo',
                                }).about__img
                        h3.about__post SEO Specialist
                        .about__location ARTOX Media, Jun-Aug 2012
                    .about__card 
                        +lazyPicture({
                                src: `${baseDir}images/sprites/svg/information.svg`,
                                alt: 'logo',
                                }).about__img
                        h3.about__post Information Technology Software
                        p.about__location Belarusian State University of Informatics and Radioelectronics, 2011 - 2015  Bachelor’s degree
                        p.about__location Polotsk State Economic College, 2007 - 2011Associate’s degree
        
